<section fxLayout="column wrap">
  <div fxFlexAlign="center">
    <a href="http://www.facebook.com/NAB" target="_blank" mat-button>
      <img mat-card-image src="../../../assets/facebook.png" alt="Facebook">
    </a>
    <a href="http://www.linkedin.com/company/national-australia-bank" target="_blank" mat-button>
      <img mat-card-image src="../../../assets/linkedin.png" alt="LinkedIn">
    </a>
    <a href="http://www.twitter.com/NAB" target="_blank" mat-button>
      <img mat-card-image src="../../../assets/twitter.png" alt="Twitter">
    </a>
    <a href="http://www.youtube.com/user/nab" target="_blank" mat-button>
      <img mat-card-image src="../../../assets/youtube.png" alt="YouTube">
    </a>
  </div>
  <div class="cp" fxFlexAlign="center">
    © National Australia Bank Limited
  </div>
</section>