<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/btc" (click)="onSidenavClose()">
        <mat-icon>attach_money</mat-icon> <span class="nav-caption">BTC</span>
    </a>
    <a mat-list-item routerLink="/etc" (click)="onSidenavClose()">
        <mat-icon>attach_money</mat-icon> <span class="nav-caption">ETC</span>
    </a>
    <a mat-list-item routerLink="/ltc" (click)="onSidenavClose()">
        <mat-icon>attach_money</mat-icon> <span class="nav-caption">LTC</span>
    </a>
</mat-nav-list>